{% include 'header.html' %}
Formulario
{% for empleado in empleados %}

<form method="POST" action="/update" enctype="multipart/form-data">        
    <input type="text" value="{{empleado[0] }}" name="txtID" id="txtID">
    <br>
    <input type="text" value="{{empleado[1] }}" name="txtNombre" id="txtNombre" placeholder="Ingrese su nombre" required>
    <br>
    <input type="email" value="{{empleado[2] }}" name="txtEmail" id="txtEmail" placeholder="Ingrese su correo" required>
    <br>
    Foto:
    {{empleado[3] }}
    <input type="file" name="txtFoto" id="txtFoto" placeholder="Ingrese una foto">
    <br>
    <input type="submit" value="Agregar">
</form>

{% endfor %}
{% include 'footer.html' %}